* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("background/bg.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.iue{
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255,255,255,.2);
  backdrop-filter:blur(20px);
  color:white;
  border-radius:20px;
  padding:30px 40px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}


.iue h1{
  font-size: 36px;
  font-family: 'Inria Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Martian Mono', monospace;
font-family: 'Monomaniac One', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  font-style: bold;
  margin-bottom: 20px;
}

.iue .input-box{
  width: 100%;
  height: 50px;
  margin-bottom: 80px;
  
}



.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border:none;
  outline:none;
  color:white;
  position: relative;
  border: solid 2px rgba(255,255,255,.9);
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
  font-size: 16px;
}

.input-box input::placeholder {
  color:white;
}

#user ion-icon{
  display:flex;
  position: absolute;
  right:55px;
  top:29%;
  transform: translateY(-50%);
  font-size:30px;

}


#lock ion-icon{
  display:flex;
  position:absolute;
  top:44%;
  left:80%;
  transform: translateY(-50%);
  font-size:25px;
}



.iue .remember-forgot {
  display:flex;
  justify-content: space-between;
  font-size:14.5px;
  margin: 15px 0px 15px;
}


.remember-forgot label input {
  margin-right: 3px;
}

.remember-forgot a{
  color:white;
  text-decoration:none;
}

.remember-forgot a:hover{
  text-decoration:underline;
}


.iue .btn {
  width:100%;
  height:45px;
  border:none;
  outline:none;
  border-radius:40px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  cursor: pointer;
  font-size:16px;
  color: black;
  font-weight:600;
}

.iue .btn a{
  text-decoration:none;
  font-family: 'Kanit', sans-serif;
    font-family: 'Martian Mono', monospace;
    font-family: 'Monomaniac One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-style:bold;
  color:black
}



.iue .register-link{
  font-size:14.5px;
  text-align:center;
  margin:20px 0px 15px;
  padding-bottom:20px;
}

.iue .register-link p a{
  color:white;
  text-decoration:none;
  font-weight:600;
}

.register-link p a:hover{
  text-decoration:underline;
}